@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* tooltip  */

#tooltrip::after {
  content: '';
  position: absolute;
  transform: translate(-50%, -50%) rotate(315deg);
  width: 20px;
  height: 20px;
  top: 80%;
  left: 50%;
  background-color: #000;
  z-index: -99;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}

.stickyHeader {
  transition: all 0.5s;
  animation: stickyHeaderanimaiton 0.5s 1;
  position: sticky;
  top: 0px;
}

@keyframes stickyHeaderanimaiton {
  0% {
    transition: all 0.5s;
    position: relative;
    top: -90px;
  }
  100% {
    transition: all 0.5s;
    position: sticky;
    top: 0px;
  }
}

/* ///////////////////////////////////////////// */

/* Light Theme */
:root {
  --markdown-bg-light: #ffffff !important;
  --markdown-text-light: #24292e !important;
  --markdown-code-bg-light: #f6f8fa !important;
  --markdown-code-text-light: #1e1e1e !important;
  --markdown-link-light: #0366d6 !important;
  --markdown-link-hover-light: #1f6feb !important;

  --markdown-bg-dark: #0d1117 !important;
  --markdown-text-dark: #c9d1d9 !important;
  --markdown-code-bg-dark: #161b22 !important;
  --markdown-code-text-dark: #d4d4d4 !important;
  --markdown-link-dark: #58a6ff !important;
  --markdown-link-hover-dark: #79b8ff !important;
}

/* Apply styles for .markdown-body */
.markdown-body {
  background-color: var(--markdown-bg-light, #ffffff) !important;
  color: var(--markdown-text-light, #24292e) !important;
  padding: 16px !important;
  border-radius: 6px !important;
}

.dark .markdown-body {
  background-color: var(--markdown-bg-dark, #0d1117) !important;
  color: var(--markdown-text-dark, #c9d1d9) !important;
}

/* Code block styles */
.markdown-body pre {
  background-color: var(--markdown-code-bg-light, #f6f8fa) !important;
  color: var(--markdown-code-text-light, #1e1e1e) !important;
}

.dark .markdown-body pre {
  background-color: var(--markdown-code-bg-dark, #161b22) !important;
  color: var(--markdown-code-text-dark, #d4d4d4) !important;
}

/* Link styles */
.markdown-body a {
  color: var(--markdown-link-light, #0366d6) !important;
}

.dark .markdown-body a {
  color: var(--markdown-link-dark, #58a6ff) !important;
}

.markdown-body a:hover {
  color: var(--markdown-link-hover-light, #1f6feb) !important;
}

.dark .markdown-body a:hover {
  color: var(--markdown-link-hover-dark, #79b8ff) !important;
}

/* list styles  */
.markdown-body ul {
  list-style: var(--markdown-text-light, #c9d1d9) !important;
}
.dark .markdown-body ul {
  list-style: var(--markdown-text-dark, #c9d1d9) !important;
}
